---
http_interactions:
- request:
    method: get
    uri: https://www.hybrid-analysis.com/api/v2/overview/275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f/refresh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":2,"hour":13},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 24 Jan 2020 23:55:21 GMT
recorded_with: VCR 5.0.0
