---
http_interactions:
- request:
    method: get
    uri: https://www.hybrid-analysis.com/api/v2/feed/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":2,"hour":3},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
    body:
      encoding: ASCII-8BIT
      string: '{"count":224,"status":"ok","data":[{"job_id":"5e2be5573f3d9b4b5e0ff99d","md5":"315ab65ad96cc99baadc9b37fe29568b","sha1":"6ba58e8e092a4c7fa433456b59e8e9a52d9f391e","sha256":"dd191b4a9868ab247aaf7e73f89bdb825cd647223c4c3e3d35b6d073a72d8d18","interesting":false,"analysis_start_time":"2020-01-25
        06:51:15","threat_score":24,"threat_level":1,"threat_level_human":"suspicious","unknown":true,"submit_name":"http:\/\/43.224.34.98:6969\/","url_analysis":true,"hosts":["43.224.34.98"],"hosts_geolocation":[{"ip":"43.224.34.98","latitude":"40.4148","longitude":"-74.2296","country":"JPN"}],"environment_id":100,"environment_description":"Windows
        7 32 bit","shared_analysis":false,"reliable":true,"report_url":"\/sample\/dd191b4a9868ab247aaf7e73f89bdb825cd647223c4c3e3d35b6d073a72d8d18\/5e2be5573f3d9b4b5e0ff99d","extracted_files":[{"name":"urlblockindex_1_.bin","file_size":16,"sha1":"e4f30e49120657d37267c0162fd4a08934800c69","sha256":"775853600060162c4b4e5f883f9fd5a278e61c471b3ee1826396b6d129499aa7","md5":"fa518e3dfae8ca3a0e495460fd60c791","type_tags":["data"],"description":"data","threat_level":0,"threat_level_readable":"no
        specific threat","av_matched":0,"av_total":66,"file_available_to_download":false},{"name":"en-US.2","file_path":"%LOCALAPPDATA%\\Microsoft\\Internet
        Explorer\\DomainSuggestions\\en-US.2","file_size":18176,"sha1":"3c96c993500690d1a77873cd62bc639b3a10653f","sha256":"c6a5377cbc07eece33790cfc70572e12c7a48ad8296be25c0cc805a1f384dbad","md5":"5a34cb996293fde2cb7a4ac89587393a","type_tags":["data"],"description":"data","runtime_process":"iexplore.exe","threat_level":0,"threat_level_readable":"no
        specific threat","file_available_to_download":false},{"name":"0ZM61NRK.txt","file_path":"%APPDATA%\\Microsoft\\Windows\\Cookies\\0ZM61NRK.txt","file_size":78,"sha1":"3479d48fc90278f586cfce0ab6d6391980cb350d","sha256":"743715717295c0f0bbf620bf7ad26a13fb16904e0648f006de41ca3b90dbce07","md5":"8b4be64bddfa6d990241e632e3497bd1","type_tags":["text"],"description":"ASCII
        text","runtime_process":"iexplore.exe","threat_level":0,"[...]
