---
http_interactions:
- request:
    method: post
    uri: https://www.hybrid-analysis.com/api/v2/submit/file
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":2,"hour":23},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
      Submission-Limits:
      - '{"apikey":{"used":{"hour":2,"day":2,"week":2,"month":2,"omega":2},"quota":{"day":"30"},"available":{"day":28},"quota_reached":false},"total":{"used":{"hour":2,"day":2,"week":2,"month":2,"omega":2},"quota":{"day":"30"},"available":{"day":28},"quota_reached":false},"quota_reached":false}'
    body:
      encoding: UTF-8
      string: '{"job_id":"5e2bf5b202a56f63e70ae19e","submission_id":"5e2bf641054221672654f727","environment_id":110,"sha256":"d78931fcf2660108eec0d6674ecb4e02401b5256a6b5ee82527766ef6d198c67"}'
  recorded_at: Sat, 25 Jan 2020 08:03:14 GMT
recorded_with: VCR 5.0.0
