---
http_interactions:
- request:
    method: post
    uri: https://www.hybrid-analysis.com/api/v2/quick-scan/file
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":1,"hour":22},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
      Quick-Scan-Limits:
      - "[]"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e2bebee45f4a142bc6e55f9","sha256":"d78931fcf2660108eec0d6674ecb4e02401b5256a6b5ee82527766ef6d198c67","scanners":[{"name":"VirusTotal","status":"clean","progress":100,"total":56,"positives":0,"percent":0,"anti_virus_results":[]},{"name":"Metadefender","status":"clean","progress":100,"total":25,"positives":0,"percent":0,"anti_virus_results":[{"name":"AegisLab","result":false,"threat_found":null},{"name":"Ahnlab","result":false,"threat_found":null},{"name":"Antiy","result":false,"threat_found":null},{"name":"Avira","result":false,"threat_found":null},{"name":"BitDefender","result":false,"threat_found":null},{"name":"ByteHero","result":false,"threat_found":null},{"name":"ClamAV","result":false,"threat_found":null},{"name":"Cyren","result":false,"threat_found":null},{"name":"ESET","result":false,"threat_found":null},{"name":"Emsisoft","result":false,"threat_found":null},{"name":"Huor[...]
