---
http_interactions:
- request:
    method: get
    uri: https://www.hybrid-analysis.com/api/v2/quick-scan/state
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":1,"hour":9},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"all","available":true,"description":"Include all available
        type","supported_types":["file","url"]},{"name":"all_lookup","available":true,"description":"Include
        all lookup types","supported_types":["file","url"]},{"name":"all_scan","available":true,"description":"Include
        all scan types","supported_types":["file","url"]},{"name":"lookup_ha","available":true,"description":"Return
        sandbox reports from public cloud","supported_types":["file","url"]},{"name":"lookup_whitelists","available":true,"description":"Checking
        if file is marked as whitelisted [...]
