---
http_interactions:
- request:
    method: post
    uri: https://www.hybrid-analysis.com/api/v2/search/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":1,"hour":21},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
    body:
      encoding: ASCII-8BIT
      string: '[{"job_id":null,"environment_id":null,"environment_description":"Static
        Analysis","size":68,"type":"EICAR virus test files","type_short":[],"target_url":null,"state":"SUCCESS","error_type":null,"error_origin":null,"submit_name":"eicar.com","md5":"44d88612fea8a8f36de82e1278abb02f","sha1":"3395856ce81f2b7382dee72602f798b642f14140","sha256":"275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f","sha512":"cc805d5fab1fd71a4ab352a9c533e65fb2d5b885518f4e565e68847223b8e6b85cb48f3afad842726d99239c9e36505c64b0dc9a061d9e507d833277ada336ab","ssdeep":null,"imphash":null,"av_detect":96,"vx_family":"Qex.eicar.gen","url_analysis":false,"analysis_start_time":"2019-01-23T10:48:17+00:00","threat_score":null,"interesting":false,"threat_level":2,"verdict":"no
        verdict","certificates":[],"domains":[],"classification_tags":[],"compromised_hosts":[],"hosts":[],"total_network_connections":0,"total_processes":0,"total_signatures":0,"extracted_files":[],"processes":[],"file_metadata":null,"tags":[],"mitre_attcks":[],"submissions":[{"submission_id":"5e257e1a6a7c093ebf59a1a7","filename":"eicar.com","url":null,"created_at":"2020-01-20T10:16:58+00:00"},{"submission_id":"5e2579b039a1cf149638ddf9","filename":"eicar.com","url":null,"created_at":"2020-01-20T09:58:08+00:00"},{"submission_id":"5e24d8c212edeb3cb20eb87f","filename":"eicar.com","url":null,"created_at":"2020-01-19T22:31:30+00:00"},{"submission_id":"5e24d6321bb65a4e1923390e","filename":"eicar.com","url":null,"created_at":"2020-01-19T22:20:34+00:00"},{"submission_id":"5e24d526068f0d141439a6c0","filename":"eicar.com","url":null,"created_at":"2020-01-19T22:16:06[...]
