---
http_interactions:
- request:
    method: get
    uri: https://www.hybrid-analysis.com/api/v2/report/6f802a566778618b6a97db31e06f05deb18abd75871a6b972733e6a52c41c90c:120/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":3,"hour":4},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
    body:
      encoding: ASCII-8BIT
      string: '{"job_id":"5e2bdfa5ead45a359b7ef88b","environment_id":120,"environment_description":"Windows
        7 64 bit","size":15476736,"type":"PE32 executable (GUI) Intel 80386, for MS
        Windows","type_short":["peexe","executable"],"target_url":null,"state":"SUCCESS","error_type":null,"error_origin":null,"submit_name":"gs901w32.exe","md5":"d10473f92e0da8ef699e180234181514","sha1":"520f191d6db8b2ddde2e35c5ea20ae46b3b3de52","sha256":"6f802a566778618b6a97db31e06f05deb18abd75871a6b972733e6a52c41c90c","sha512":"d08702d15c5cd04d8c715a5ab844a941008cf7ac05056f49c84202149ec501275297687cfd8803daa9f8215a3cbb18d026b5a1f09a473fe392999b731d3ba2b5","ssdeep":"393216:Oue7xJoB69ChTswKlWtHTkFhSWZWaIZKitxfEvf8EKe:OZ7X860hTCWtzk\/zdaffEcE","imphash":"4c59c0b3420ca0877a0e6c8146bdb593","av_detect":0,"vx_family":null,"url_analysis":false,"analysis_start_time":"2020-01-25T06:26:53+00:00","threat_score":75,"interesting":false,"threat_level":2,"verdict":"malicious","certificates":[],"domains":[],"classification_tags":[],"compromised_hosts":[],"hosts":[],"total_network_connections":0,"total_processes":2,"total_signatures":37,"extracted_files":[{"name":"gswin32c.exe","file_path":"%PROGRAMFILES%\\(x86)\\gs\\gs9.01\\bin\\gswin32c.exe","file_size":132608,"sha1":"7ef753ef1f52ec813333637e7d86ae3d92c8d2ae","sha256":"0379ca4dd048b6815ff7d430924cedf4761c4bbda93cb9f00fb39f95e5680243","md5":"a584f9c9a6de43327b44889bd2f828d7","type_tags":["peexe","executable"],"description":"PE32
        executable (console) Intel 80386, for MS Windows","runtime_process":"setupgs.exe","threat_level":2,"threat_level_readable":"malicious","av_label":"Process
        crashed","av_matched":1,"av_total":83,"file_available_to_download":true},{"name":"gswin32.exe","file_path":"%PROGRAMFILES%\\(x86)\\gs\\gs9.01\\bin\\gswin32.exe","file_size":139264,"sha1":"2fac1f90953f9a5af5ba575e832a1b9f65d7bb84","sha256":"05420a3dcbb199798be6dfc0af33396f1423cf126b62eaf180192e6da33cf322","md5":"e483edced8e5c19f4d658fdf615ee03b","type_tags":["peexe","executable"],"description":"PE32
        executable (GUI) Intel 80386, for MS Windows","runtime_process":"setupgs.exe","threat_level":0,"threat_level_readable":"no
        specific threat","av_label[...]
