---
http_interactions:
- request:
    method: get
    uri: https://www.hybrid-analysis.com/api/v2/report/6f802a566778618b6a97db31e06f05deb18abd75871a6b972733e6a52c41c90c:120/state
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":1,"hour":2},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
    body:
      encoding: ASCII-8BIT
      string: '{"state":"SUCCESS","error_type":null,"error_origin":null,"error":null,"related_reports":[]}'
  recorded_at: Sat, 25 Jan 2020 06:59:29 GMT
recorded_with: VCR 5.0.0
