---
http_interactions:
- request:
    method: get
    uri: https://www.hybrid-analysis.com/api/v2/system/environments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<HYBRIDANALYSIS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":200,"hour":2000},"used":{"minute":4,"hour":9},"limit_reached":false}'
      Api-Version:
      - 2.8.0
      Webservice-Version:
      - 8.8.4-a9bcd8626
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"100","environment_id":100,"description":"Windows 7 32 bit","architecture":"WINDOWS","virtual_machines":[],"total_virtual_machines":62,"busy_virtual_machines":4,"invalid_virtual_machines":1,"group_icon":"windows","analysis_mode":"KERNELMODE"},{"id":"110","environment_id":110,"description":"Windows
        7 32 bit (HWP Support)","architecture":"WINDOWS","virtual_machines":[],"total_virtual_machines":61,"busy_virtual_machines":4,"invalid_virtual_machines":1,"group_icon":"windows","analysis_mode":"KERNELMODE"},{"id":"120","environment_id":120,"description":"Windows
        7 64 bit","architecture":"WINDOWS","virtual_machines":[],"total_virtual_machines":75,"busy_virtual_machines":2,"invalid_virtual_machines":0,"group_icon":"windows","analysis_mode":"KERNELMODE"},{"id":"300","environment_id":300,"description":"Linux
        (Ubuntu 16.04, 64 bit)","architecture":"WINDOWS","virtual_machines":[],"total_virtual_machines":18,"busy_virtual_machines":1,"invalid_virtual_machines":0,"group_icon":"linux","analysis_mode":"USERMODE"},{"id":"200","environment_id":200,"description":"Android
        Static Analysis","architecture":"ANDROID","virtual_machines":[],"total_virtual_machines":0,"busy_virtual_machines":0,"invalid_virtual_machines":0,"group_icon":"android","analysis_mode":"USERMODE"}]'
  recorded_at: Fri, 24 Jan 2020 23:53:45 GMT
recorded_with: VCR 5.0.0
